<div class="container-fluid">
	<h1>Artículos</h1>
	<div class="row">
		<%= render @articles %>
	</div>
	<div class="top-space text-center">
		<%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
	</div>
</div>
	

	
